@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body{
    background-color: whitesmoke;
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px 0px;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

.namespace{
    display: flex;
    flex-direction:row;
}

.projectname{
    font-size:xx-large;
    box-shadow: 0 6px 8px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    width: 270px;
    height: 40px;
    text-align: center;
    background-color: white;
    margin-left: 70px;
}

.developer{
    font-size: large;
    box-shadow: 0 6px 8px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    width: 70px;
    height: 30px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.canvas{
    margin-top: 10px;
    width: 700px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.13);
    cursor:crosshair
}

.controls{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .controls-btns{
    margin-bottom:20px;
}

.controls-btns button{
    all: unset;
    cursor: pointer;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 6px 8px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.13);
    font-size: large;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 10px;
}

.controls-btns button:active{
    transform: translateY(3px);
    box-shadow: 0 5px rgba(50, 50, 93, 0.2), 0 3px rgba(0, 0, 0, 0.13);
}

.controls .controls-colors{
    display: flex;
}

.controls-colors .controls-color{
    width: 50px;
    height: 50px;
    box-shadow: 0 6px 8px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.13);
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
}
.controls-colors .controls-color:active{
    transform: translateY(3px);
    box-shadow: 0 5px rgba(50, 50, 93, 0.2), 0 3px rgba(0, 0, 0, 0.13);

}

.controls .controls-range{
    margin-bottom: 20px;
}
